In [48]:
print('Initial juptyter notebook framework for Unit 3 Capstone project.')

Initial juptyter notebook framework for Unit 3 Capstone project.

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import random
import re
import textwrap
import warnings
warnings.filterwarnings('ignore')

In [59]:
print('We will begin by importing the data from the World Development Indicators dataset in Kaggle.  These data files contain various economic indicators from many countries around the world.  From these data files, we are able to see economic indicators such as age, birth rates, etc.')

We will begin by importing the data from the World Development Indicators dataset in Kaggle.  These data files contain various economic indicators from many countries around the world.  From these data files, we are able to see economic indicators such as age, birth rates, etc.

In [52]:
Country = pd.read_csv('Country.csv')
CountryNotes = pd.read_csv('CountryNotes.csv')
Footnotes = pd.read_csv('Footnotes.csv')
Indicators = pd.read_csv('Indicators.csv')

In [49]:
Indicators.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [57]:
print('World Happiness reports from 2015 to 2017 will now be imported.')

World Happiness reports from 2015 to 2017 will now be imported.

In [46]:
WH2015 = pd.read_csv('World Happiness/2015.csv')
WH2016 = pd.read_csv('World Happiness/2016.csv')
WH2017 = pd.read_csv('World Happiness/2017.csv')

In [47]:
WH2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [58]:
print('Pisa scores from 2013 to 2015 will be brought in to assist with predictor being designed.')

Pisa scores from 2013 to 2015 will be brought in to assist with predictor being designed.

In [29]:
Pisa = pd.read_csv('pisa-scores-2015-3/Pisa mean perfromance scores 2013 - 2015 Data.csv')
Pisa.head()

,Country Name,Country Code,Series Name,Series Code,2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,Albania,ALB,PISA: Mean performance on the mathematics scale,LO.PISA.MAT,..,..,413.157
1,Albania,ALB,PISA: Mean performance on the mathematics scal...,LO.PISA.MAT.FE,..,..,417.750029482799
2,Albania,ALB,PISA: Mean performance on the mathematics scal...,LO.PISA.MAT.MA,..,..,408.545458736189
3,Albania,ALB,PISA: Mean performance on the reading scale,LO.PISA.REA,..,..,405.2588
4,Albania,ALB,PISA: Mean performance on the reading scale. F...,LO.PISA.REA.FE,..,..,434.639625546737